.instructions-list {
	list-style-type: none;
	padding: 12px 0px;
	margin-left: 16px;
}

.instructions-title {
	margin-bottom: 0;
}

.instructions-list li span {
	border-bottom: 2px solid var(--blue-color);
}

.instructions-list li p {
	font-weight: 400;
}
