.span-result {
	padding: 12px 24px;
	color: var(--white-color);
	background-color: var(--blue-color);
	border: 1px solid var(--blue-color);
	border-radius: 5px;
	font-size: var(--modal-fee-font-size);
}

.display-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	background-color: transparent;
	border: none;
	gap: 10px;
	font-size: 1rem;
	cursor: pointer;
}

.display-list {
	list-style-type: none;
	padding: 12px 0px;
	margin-bottom: 0;
}

.display-list li {
	margin-bottom: 32px;
}

.display-element {
	display: flex;
	flex-direction: var(--display-element-flex-direction);
	align-items: var(--display-element-align-items);
	gap: 18px;
}

.display-element h4 {
	border-bottom: 2px solid var(--blue-color);
	margin: 0;
}

.display-element span {
	font-size: 1rem;
	padding: 8px 4px;
}

.display-fee-reduction {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 24px;
	margin-bottom: -32px;
	gap: 12px;
}

.display-fee-reduction h4 {
	font-weight: 400;
}

.display-fee-reduction .fee-reduction {
	color: var(--blue-color);
}
