@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

html {
	height: 100%;
	width: 100%;
	font-size: var(--global-font-size);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
	background: var(--bg-color);
}
