:root{
  --calc-bg-color: #fff; 
  --footer-bg-color: rgb(0, 48, 92);
  --header-bg-color: rgb(0, 48, 92);
}

main{
  position:relative;
  height: 100vh;
  width: 100vw;
}

.calc-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 550px;
  background: var(--calc-bg-color);
  border-radius: 15px;
}

.calc-header,
.calc-footer{
  height: 10%;
  width: 100%;  
}

.calc-form{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.calc-header{
  background: var(--header-bg-color);
  border-radius: 10px 10px 0px 0px;

}
.calc-footer{
  background: var(--footer-bg-color);
  border-radius: 0px 0px 10px 10px;
  
}

@media only screen and (max-width: 600px) {
  .calc-container{
    width: 80vw;
  }

  .calc-form{
    padding-right: 15px;
  }
}

/* @media only screen and (max-height: 600px) {
  .calc-container{
    height: 75vh;
  }
} */