@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

html{
  height:100%;
  width: 100%;
  font-size: var(--global-font-size);
  text-align: var(--global-text-align);
}

body{
  margin: 0;
  background: #202731;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

