.btn-quantity {
	border-radius: 50%;
	border: 2px solid var(--blue-color);
	min-height: var(--quantity-btn-size);
	min-width: var(--quantity-btn-size);
	background-color: var(--lightblue-color);
	fill: var(--blue-color);
	font-size: inherit;
	cursor: pointer;
	transition: background-color 200ms;
}

.btn-quantity:hover {
	background-color: var(--blue-color);
	fill: var(--white-color);
}

.span-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
