:root{
    --bubble-color: #009de0;
}

.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}
  
.bubble svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 229px;
}

.bubble .shape-fill {
    fill: var(--bubble-color);
}

.top-bubble{
    position: relative;
    background-color: var(--bubble-color);
    height: 250px;
}