.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.modal-container{
    padding: 20px 20px;
    max-width: 80vw;
    background-color: var(--white-color);
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    z-index: 2;

}

.modal-container .modal-header{
    display: flex;
    justify-content: end;
  }

.modal-container .modal-header .btn-close{
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    font-size: var(--close-btn-font-size);
    text-align: center;
    background-color: var(--white-color);
    color: var(--red-color);
    border:2px solid var(--red-color);
    cursor: pointer;
    transition: background-color 200ms;
}

.modal-container .modal-header .btn-close:hover{
    background-color: var(--red-color);
    color: var(--white-color);
    border: 2px solid var(--red-color);
}

.modal-container .modal-children{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;

}

.modal-bg{
    position: absolute;
    background-color: var(--light-gray-color);
    height: 100vh;
    width: 100vw;
}