.translation-container {
	display: flex;
	position: absolute;
	top: 24px;
	right: 32px;
	gap: 10px;
}

.translation-container button {
	color: var(--btn-inactive-color);
	background-color: transparent;
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
}

.translation-container .active {
	color: var(--white-color);
}

@media only screen and (max-width: 1100px) {
	.translation-container {
		flex-direction: column;
		top: 0px;
		right: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.translation-container button {
		font-size: 1rem;
	}
}
